/*****************************************       布局样式      ******************************************/
.flex {
    display: flex;
    flex-flow: row;
}

.flex-column {
    display: flex;
    flex-flow: row;
    flex-direction: column;
}

.flex-column-align {
    display: flex;
    flex-flow: row;
    flex-direction: column;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-flow: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-align {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.flex-align-between {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.flex-align-around {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

/*****************************************       布局样式      ******************************************/



/*****************************************       标签样式      ******************************************/
a{
    color: #000;
    text-decoration: none;
}


/*****************************************       标签样式      ******************************************/


/*****************************************       间距样式      ******************************************/
.m-left-5{
    margin-left: 5px;
}
.m-left-10{
    margin-left: 10px;
}
.m-left-15{
    margin-left: 15px;
}
.m-left-20{
    margin-left: 20px;
}
.m-left-25{
    margin-left: 25px;
}
.m-left-30{
    margin-left: 30px;
}
.m-left-35{
    margin-left: 35px;
}
.m-left-40{
    margin-left: 40px;
}
.m-left-45{
    margin-left: 45px;
}
.m-left-50{
    margin-left: 50px;
}
.m-left-55{
    margin-left: 55px;
}
.m-left-60{
    margin-left: 60px;
}
.m-left-65{
    margin-left: 65px;
}
.m-left-70{
    margin-left: 70px;
}
.m-left-75{
    margin-left: 75px;
}
.m-left-80{
    margin-left: 80px;
}
.m-left-85{
    margin-left: 85px;
}
.m-left-90{
    margin-left: 90px;
}
.m-left-95{
    margin-left: 95x;
}
.m-left-100{
    margin-left: 100px;
}



/*****************************************       间距样式      ******************************************/